.board {
	z-index				:	100;
	position			:	fixed;
	background			:	rgb(61, 61, 61);
	border-radius		:	10px;
	line-height			:	30px;
	padding				: 	15px;
	text-align			:	center;
	color				:	white;
	font-family			:	Arial;
	font-weight			:	bold;
	margin				:	20px;
}
@keyframes FadeOut {
	0% {
		opacity			:	0.5;
	}
	50% {
		opacity			:	0.0;
	}
	100% {
		opacity			:	0.0;
	}
}
.flashScreen {
	z-index				:	102;
	position			:	fixed;
	top					:	0%;
	left				:	0%;
	height				:	100%;
	width				:	100%;
	-webkit-transition	:	FadeOut 1s linear;
	transition			:	FadeOut 1s linear;
	animation			:	FadeOut 1s linear;
}
@keyframes FloatUp {
	0% {
		transform		:	translate(-50%, 0%);
		opacity			:	0.0;
	}
	9% {
		transform		:	translate(-50%, 0%);
		opacity			:	0.0;
	}
	10% {
		transform		:	translate(-50%, 0%);
		opacity			:	0.8;
	}
	50% {
		transform		:	translate(-50%, 0%);
		opacity			:	0.8;
	}
	75% {
		transform		:	translate(-50%, -40%);
		opacity			:	0.0;
	}
	100% {
		transform		:	translate(-50%, 0%);
		opacity			:	0.0;
	}
}
.floatMessage {
	z-index				:	101;
	position			:	fixed;
	left				:	50%;
	background			:	gray;
	border-radius		:	10px;
	line-height			:	30px;
	padding				: 	15px;
	white-space			:	pre-wrap;
	text-align			:	center;
	color				:	white;
	font-family			:	Arial;
	font-weight			:	bold;
	margin				:	20px;
	-webkit-transition	:	FloatUp 4s linear;
	transition			:	FloatUp 4s linear;
	animation			:	FloatUp 4s linear;
}
.dialogDefault {
	background			:	#e0edff;
	border-radius		:	10px;
	border				:	5px;
	border-style		:	solid;
	border-color		:	gray;
	line-height			:	30px;
	padding-inline		: 	10px;
	white-space			:	pre-wrap;
	text-align			:	center;
	color				:	black;
	font-family			:	Arial;
	font-weight			:	bold;
	margin				:	10px;
}
@keyframes Lava {
	0% {
		color			:	rgb(218, 33, 0);
		border-color	:	rgb(129, 9, 0);
	}
	60% {
		color			:	rgb(218, 33, 0);
		border-color	:	rgb(129, 9, 0);
	}
	70% {
		color			:	rgb(41, 31, 31);
		border-color	:	rgb(41, 31, 31);
	}
	90% {
		color			:	rgb(48, 24, 24);
		border-color	:	rgb(48, 24, 24);
	}
	100% {
		color			:	rgb(218, 33, 0);
		border-color	:	rgb(129, 9, 0);
	}
}
.dialogLava {
	background			:	#313131;
	border-radius		:	10px;
	border				:	5px;
	border-style		:	solid;
	line-height			:	30px;
	padding-inline		: 	10px;
	white-space			:	pre-wrap;
	text-align			:	center;
	font-family			:	Arial;
	font-weight			:	bold;
	margin				:	10px;
	-webkit-transition	:	Lava 20s linear infinite;
	transition			:	Lava 20s linear infinite;
	animation			:	Lava 20s linear infinite;
}
.dialogVoid {
	background			:	#000a36;
	border-radius		:	10px;
	border				:	5px;
	border-style		:	solid;
	border-color		:	rgb(66, 0, 110);
	line-height			:	30px;
	padding-inline		: 	10px;
	white-space			:	pre-wrap;
	text-align			:	center;
	color				:	rgb(140, 0, 255);
	font-family			:	Arial;
	font-weight			:	bold;
	margin				:	10px;
}
@keyframes VoidToLight {
	0% {
		background		:	#000a36;
		color			:	rgb(66, 0, 110);
		border-color	:	rgb(140, 0, 255);
	}
	100% {
		background		:	#ffffff;
		color			:	rgb(255, 231, 124);
		border-color	:	rgb(78, 78, 78);
	}
}
.dialogLight {
	background			:	#ffffff;
	border-radius		:	10px;
	border				:	5px;
	border-style		:	solid;
	border-color		:	rgb(255, 231, 124);
	line-height			:	30px;
	padding-inline		: 	10px;
	white-space			:	pre-wrap;
	text-align			:	center;
	color				:	rgb(78, 78, 78);
	font-family			:	Arial;
	font-weight			:	bold;
	margin				:	10px;
	-webkit-transition	:	VoidToLight 1s ease-in;
	transition			:	VoidToLight 1s ease-in;
	animation			:	VoidToLight s ease-in;
}
.dialogTitleDefault {
	text-align			:	center;
	color				:	black;
	font-weight			:	bold;
	font-size			:	16px;
	margin				:	20px;
}
.dialogTitleLava {
	text-align			:	center;
	font-weight			:	bold;
	font-size			:	16px;
	margin				:	20px;
	-webkit-transition	:	Lava 20s linear infinite;
	transition			:	Lava 20s linear infinite;
	animation			:	Lava 20s linear infinite;
}
.dialogTitleVoid {
	text-align			:	center;
	color				:	rgb(140, 0, 255);
	font-weight			:	bold;
	font-size			:	16px;
	margin				:	20px;
}
.dialogTitleLight {
	text-align			:	center;
	color				:	rgb(78, 78, 78);
	font-weight			:	bold;
	font-size			:	16px;
	margin				:	20px;
}
.dialogContentDefault {
	text-align			:	left;
	color				:	black;
	line-height			:	15px;
	font-size			:	14px;
	margin				:	10px;
}
.dialogContentLava {
	text-align			:	left;
	line-height			:	15px;
	font-size			:	14px;
	margin				:	10px;
	-webkit-transition	:	Lava 20s linear infinite;
	transition			:	Lava 20s linear infinite;
	animation			:	Lava 20s linear infinite;
}
.dialogContentLight {
	text-align			:	left;
	color				:	rgb(78, 78, 78);
	line-height			:	15px;
	font-size			:	14px;
	margin				:	10px;
}
.dialogContentVoid {
	text-align			:	left;
	color				:	rgb(140, 0, 255);
	line-height			:	15px;
	font-size			:	14px;
	margin				:	10px;
}
.choiceDefault {
	background			:	#e0edff;
	display				:	block;
	border-radius		:	10px;
	border				:	3px;
	border-style		:	solid;
	border-color		:	gray;
	line-height			:	20px;
	padding-inline		: 	10px;
	text-align			:	left;
	color				:	black;
	font-family			:	Arial;
	font-size			:	14px;
	margin				:	5px;
}
.choiceDisabled {
	background			:	#494949;
	display				:	block;
	border-radius		:	10px;
	border				:	3px;
	border-style		:	solid;
	border-color		:	gray;
	line-height			:	20px;
	padding-inline		: 	10px;
	text-align			:	left;
	color				:	gray;
	font-family			:	Arial;
	font-size			:	14px;
	margin				:	5px;
}
.choiceLava {
	background			:	#221313;
	display				:	block;
	border-radius		:	10px;
	border				:	3px;
	border-style		:	solid;
	line-height			:	20px;
	padding-inline		: 	10px;
	text-align			:	left;
	font-family			:	Arial;
	font-size			:	14px;
	margin				:	5px;
	-webkit-transition	:	Lava 20s linear infinite;
	transition			:	Lava 20s linear infinite;
	animation			:	Lava 20s linear infinite;
}
.choiceVoid {
	background			:	#000a36;
	display				:	block;
	border-radius		:	10px;
	border				:	3px;
	border-style		:	solid;
	border-color		:	rgb(37, 46, 114);
	line-height			:	20px;
	padding-inline		: 	10px;
	text-align			:	left;
	color				:	rgb(140, 0, 255);
	font-family			:	Arial;
	font-size			:	14px;
	margin				:	5px;
}
.choiceLight {
	background			:	#ffffff;
	display				:	block;
	border-radius		:	10px;
	border				:	3px;
	border-style		:	solid;
	border-color		:	rgb(255, 231, 124);
	line-height			:	20px;
	padding-inline		: 	10px;
	text-align			:	left;
	color				:	rgb(78, 78, 78);
	font-family			:	Arial;
	font-size			:	14px;
	margin				:	5px;
}
.choiceSelectedDefault {
	background			:	#e0edff;
	display				:	block;
	border-radius		:	10px;
	border				:	3px;
	border-style		:	solid;
	line-height			:	20px;
	padding-inline		: 	10px;
	text-align			:	left;
	font-family			:	Arial;
	font-size			:	14px;
	margin				:	5px;
}
.choiceSelectedLava {
	background			:	#6b6b6b;
	display				:	block;
	border-radius		:	10px;
	border				:	3px;
	border-style		:	solid;
	line-height			:	20px;
	padding-inline		: 	10px;
	text-align			:	left;
	font-family			:	Arial;
	font-size			:	14px;
	margin				:	5px;
	-webkit-transition	:	Lava 20s linear infinite;
	transition			:	Lava 20s linear infinite;
	animation			:	Lava 20s linear infinite;
}
.choiceSelectedVoid {
	background			:	#00115f;
	display				:	block;
	border-radius		:	10px;
	border				:	3px;
	border-style		:	solid;
	line-height			:	20px;
	padding-inline		: 	10px;
	text-align			:	left;
	font-family			:	Arial;
	font-size			:	14px;
	margin				:	5px;
}
.choiceSelectedLight {
	background			:	rgb(255, 241, 180);
	display				:	block;
	border-radius		:	10px;
	border				:	3px;
	border-style		:	solid;
	line-height			:	20px;
	padding-inline		: 	10px;
	text-align			:	left;
	font-family			:	Arial;
	font-size			:	14px;
	margin				:	5px;
}
.choiceTraitETextDefault {
	display				:	inline-block;
	text-align			:	left;
	color				:	black;
	font-family			:	Arial;
	font-size			:	14px;
}
.choiceTraitETextLava {
	display				:	inline-block;
	text-align			:	left;
	font-family			:	Arial;
	font-size			:	14px;
	-webkit-transition	:	Lava 20s linear infinite;
	transition			:	Lava 20s linear infinite;
	animation			:	Lava 20s linear infinite;
}
.choiceTraitETextVoid {
	display				:	inline-block;
	text-align			:	left;
	color				:	rgb(140, 0, 255);
	font-family			:	Arial;
	font-size			:	14px;
}
.choiceTraitTTextDefault {
	display				:	inline-block;
	text-align			:	left;
	color				:	#2969b3;
	font-family			:	Arial;
	font-size			:	14px;
	margin-left			:	5px;
}
.choiceTraitTTextLava {
	display				:	inline-block;
	text-align			:	left;
	color				:	#2969b3;
	font-family			:	Arial;
	font-size			:	14px;
	margin-left			:	5px;
}
.choiceTraitTTextVoid {
	display				:	inline-block;
	text-align			:	left;
	color				:	#2969b3;
	font-family			:	Arial;
	font-size			:	14px;
	margin-left			:	5px;
}
.button {
	background			:	#e0edff;
	display				:	inline-block;
	border-radius		:	10px;
	border				:	5px;
	border-style		:	solid;
	border-color		:	gray;
	line-height			:	30px;
	padding-inline		: 	10px;
	text-align			:	center;
	color				:	black;
	font-family			:	Arial;
	font-weight			:	bold;
	margin				:	10px;
}
.barDeselect {
	background			:	#3d495b;
	border-radius		:	10px;
	border				:	5px;
	border-style		:	solid;
	border-color		:	gray;
	line-height			:	30px;
	padding-inline		: 	10px;
	text-align			:	center;
	color				:	white;
	font-size			:	10px;
	font-family			:	Arial;
	font-weight			:	bold;
	margin				:	10px;
}
.barSelect {
	background			:	#ebebeb;
	border-radius		:	10px;
	border				:	5px;
	border-style		:	solid;
	border-color		:	gray;
	line-height			:	30px;
	padding-inline		: 	10px;
	text-align			:	center;
	color				:	rgb(34, 34, 34);
	font-size			:	10px;
	font-family			:	Arial;
	font-weight			:	bold;
	margin				:	10px;
}
.traitPanel {
	z-index				:	101;
	position			:	fixed;
	top					:	0%;
	right				:	0%;
	transform-origin	:	top right;
	transform			:	scale(0.8);
	max-width			:	600px;
	background			:	rgb(61, 61, 61);
	border-radius		:	10px;
	line-height			:	30px;
	padding				: 	15px;
	text-align			:	center;
	color				:	white;
	font-family			:	Arial;
	font-weight			:	bold;
	margin				:	20px;
}